@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-orange-default: #ff6b00;
  --color-orange-dark: #f66315;
  --color-gray-bg:var(--color-gray-100);
  --color-gray-text: var(--color-gray-800);
}